* {
    font-family: "Roboto", monospace;
 }
 
 window {
     background-color: #24283b;
 }
 
 #input {
     margin: 5px;
     border-radius: 0px;
     border: none;
     background-color: #24283b;
     color: white;
 }
 
 #inner-box {
     background-color: rgb(44, 48, 59);
 }
 
 #outer-box {
     margin: 2px;
     padding: 10px;
     background-color: rgb(44, 48, 59);
 }
 
 #scroll {
     margin: 5px;
 }
 
 #text {
     padding: 4px;
     color: white;
 }
 
 #entry:nth-child(even){
     background-color: #404552;
 }
 
 #entry:selected {
     background-color: #4C566A;
 }
 
 #text:selected {
     background: transparent;
 }